<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flavortown</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Just Dew It</h1>
  <p>Peruse our Critic reviews</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Just Dew It</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/flavors">Flavors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Posts</a>
      </li>
      <li class= "nav-item">
      	<a class="nav-link" href="/signin">Sign In</a>
    </ul>
  </div>  
</nav>

<div class="container">
  <div class="row" id = "name">
    <div class="col-sm-4">
      <img id="flavors" src="../public/imgs/original.png" alt="{{name}}">
    </div>
    <div class="col-sm-4 description">
      <p>Name: Mountain Dew</p>
      <p>Flavor: Citrus</p>
      <p>Rating: 0</p>
      <p>Potency: 0</p>
      <p>Weight: 0</p>
      <p>Carbonation: 0</p>
      <p>General Body Info: This is the default Mountain Dew flavor.</p>
    </div>
  </div>
  <div class="row" id = "name">
    <div class="col-sm-4">
      <img id="flavors" src="../public/imgs/red.png" alt="{{name}}">
    </div>
    <div class="col-sm-4 description">
      <p>Name: Mountain Dew: Code Red</p>
      <p>Flavor: Cherry</p>
      <p>Rating: 0</p>
      <p>Potency: 0</p>
      <p>Weight: 0</p>
      <p>Carbonation: 0</p>
      <p>General Body Info: This is the classical Cherry variant of the Mountain Dew.</p>
    </div>
  </div>
  <div class="row" id = "name">
    <div class="col-sm-4">
      <img id="flavors" src="../public/imgs/voltage.png" alt="{{name}}">
    </div>
    <div class="col-sm-4 description">
      <p>Name: Mountain Dew: Voltage</p>
      <p>Flavor: Blue Raspberry</p>
      <p>Rating: 0</p>
      <p>Potency: 0</p>
      <p>Weight: 0</p>
      <p>Carbonation: 0</p>
      <p>General Body Info: This is the classical blue raspberry variant of the Mountain Dew.</p>
    </div>
  </div>
  <div class="row" id = "name">
    <div class="col-sm-4">
      <img id="flavors" src="../public/imgs/lightning.png" alt="{{name}}">
    </div>
    <div class="col-sm-4 description">
      <p>Name: Mountain Dew: Sweet Lightning</p>
      <p>Flavor: Peach</p>
      <p>Rating: 0</p>
      <p>Potency: 0</p>
      <p>Weight: 0</p>
      <p>Carbonation: 0</p>
      <p>General Body Info: This sweet peach flavored Mountain Dew is exclusive to KFC.</p>
    </div>
  </div>
  <div class="row" id = "name">
    <div class="col-sm-4">
      <img id="flavors" src="../public/imgs/dsa.png" alt="{{name}}">
    </div>
    <div class="col-sm-4 description">
      <p>Name: Mountain Dew: Dew-S-A</p>
      <p>Flavor: Code Red + White Out + Voltage</p>
      <p>Rating: 0</p>
      <p>Potency: 0</p>
      <p>Weight: 0</p>
      <p>Carbonation: 0</p>
      <p>General Body Info: This Mountain Dew is exclusive for the 4th of July as of 2021. </p>
    </div>
  </div>
<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/home">Sign out</a>
    </li>
  </ul>
</nav>
</body>
</html>
<script src="public/js/flavors.js"></script>
